:root{
	--lightgrey-bg:rgb(220,220,220);
	--darkgrey-bg:rgb(112,112,112);
	--verylightgrey-bg:rgb(240,240,240);
	--mainNav-height:56px;
}

@font-face {
  font-family: "MeriendaOne-Regular";
  src: url("../font/MeriendaOne-Regular.ttf");
}
body{
	
}
*{
	margin:0 ;
	padding:0;
	text-decoration: none !important;
	list-style: none !important;
}
.p-spacer-under{
	margin-bottom: 8px;
}
.h1-spacer-under{
	margin-bottom: 15px;
}
.Itemcenter{
	margin: 0 auto;
}
.hidden{
	display: none !important;
}
.noOpacity{
	opacity: 0;
}
.helpBtn{
	cursor: help !important;
}
.max-w-1400{
	max-width: 1400px;
}
#loader{
	width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background: white;
}
#loader-container{
	display: flex;
    padding: 30px;
    border: solid;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
#loader span:first-child{
	animation: loaderAnimN 4s infinite;
  	transition: 1s;
}
#loader span:last-child{
	animation: loaderAnimW 4s infinite;
  	transition: 1s;
}
@keyframes loaderAnimN{
  25%{
  	transform: translate(12px, -15px);
  }
  50%{
  	transform: translate(28px, 0px);
  }
  75%{
  	transform: translate(14px, 15px);
  }
  100%{
  	transform: translate(0px, 0px);
  }
}
@keyframes loaderAnimW{
  25%{
  	transform: translate(-14px, 15px);
  }
  50%{
  	transform: translate(-26px, 0px);
  }
  75%{
  	transform: translate(-14px, -15px);
  }
  100%{
  	transform: translate(0px, 0px);
  }
}

h1
{
	margin-bottom: 5px;
	font-family: "MeriendaOne-Regular";
}
h1,h2,p{
	cursor: default;
	text-decoration: none;
}
.sectionTitle{
	margin-left: 10px;
}
p{
	margin-bottom: 0;	
}
a{
	cursor: pointer;
	color: black;
}
.clickableBtn *{
	cursor: pointer;
}
a:hover{
	color: black;
}
ul{
	padding: 0;
}
.screen{
	min-height: 100vh;
	display: flex;/*to align center .screenCenterContent*/
    flex-direction: column;
}
.screenCenterContent
{
	margin: auto;
}

.clipInvertDownRectangle{
	clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}
.clipRectangles{
	clip-path: polygon(0 0, 100% 54px, 100% 100%, 0 calc(100% - 45px));
}
.clipUpRectangle{
	clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}/*OU tester methode borders*/

.photo-credit{
	display: none;
}

.spacermenu{
	height:var(--mainNav-height);
}

h1:before,h1:after{
	content: "-";
	color:var(--darkgrey-bg);
}
.h1WhiteBefAft:before,.h1WhiteBefAft:after{
	color:white;
}

.screencontent{
	margin: 0 10px;
}

.box_style{
	background-color: var(--verylightgrey-bg);
	box-shadow: 0 0 10px 10px var(--verylightgrey-bg);
	margin:0 10px;
}
.selected_btn{
	border-color:var(--darkgrey-bg) !important;
}

/*ANIMATIONS*/

.fade-in-out{
	opacity: 0;
	transition: opacity 1s;
}
.fade-in-out.fade-in-out-displayed{
	opacity: 1;
}

/*NAV*/

#dropdownLang{
	left: -100%;
}


/*HOME*/

#homeScreen{
	background:url("../images/Mont-Blanc.jpg");	
	background-size: cover;
	background-color: grey;
	background-repeat: no-repeat;
	background-position: center;
	
}
#homeContent{
	position: absolute;
	margin: 50vh auto 0 auto;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
}
#home_status{
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
	background: rgba(220,220,220,0.6);
	border-radius: 15px;
	font-size: 2vw;
	padding: 5px 0;
}
#home_name{
	font-size: 5vw;
	margin-bottom: 15px;
}
#home-paralax:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0a2a43;
	z-index: 1000;
	mix-blend-mode: soft-light;
}
#home-paralax img{
	position: absolute;
	pointer-events: none;
}
#mont-blanc{
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
#parachutist{
	width: auto;
    height: 100px;
    left: 80%;
    top: 20%;
    object-fit: contain;
}
#trees{
	height: auto;
    bottom: 0;
    top: auto;
    object-fit: unset;
    left: -70px;
  	width: 100%;

}

@media(max-width: 700px)
{
	#home_status{
		font-size: 4vw;
	}
	#home_name{
		font-size: 7vw;
	}
}

/*ABOUT ME*/
.pic_container{
	height: 300px;
  	width: 200px;
  	padding-left: 0px;
  	padding-right: 0px;
}
.about_p h3
{
	font-family: "MeriendaOne-Regular";
	font-size: 16px;
	margin-bottom: 5px;
}
li h3{
	display: contents;
}
#aboutScreen .pic_container{
  	margin:25px 50px;
}
.about_p{
	margin-bottom: 15px;
	font-size: 17px;
}
@media(max-width: 425px)
{
	.about_p{
		font-size: 15px;
	}
}

.picContent{
	position: relative;
}
#profil_pic{
	background: url('../images/Profil.jpg');
	background-size: cover;
	background-color: var(--lightgrey-bg);
	background-position: -20px;
	border: solid 2px var(--darkgrey-bg);
}
.pic_element{
	height: 300px;
  	width: 200px;
  	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
}
.pic_back{
	border: solid 2px black;
  	transform: rotate(20deg);
  	animation: animBackPic 6s linear infinite;
}
@keyframes animBackPic{
	50%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(20deg);
	}
}
#about_p_container{
	font-size: larger;
	text-align: justify;
}

.btn_nav ul li{
	margin:2px;
	cursor: pointer;
	border:solid 3px var(--lightgrey-bg);
	border-radius: 20px;
	padding: 2px 10px;
	flex:1 110px;
	max-width: 230px;

}
.btn_nav ul{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; 
	justify-content: center;
}
.btn_nav{
	margin-bottom: 30px;
	margin-top: 30px;
}
#about_languages_p{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#about_languages_p > div{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#about_languages_p p{
	font-size: 14px;
}
.flagImage{
	width: 100px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media(max-width: 767px)
{
	.pic_container{
	  	margin:auto !important;
	}
}
@media(max-width: 750px)
{
	#about_content{
		display: block;
	}
	.pic_element{
		height: 200px;
	  	width: 130px;
	}
	.pic_container{
		height: 200px;
	  	width: 130px;
	  	margin:auto !important;
	}
}

/*COMPETENCES*/

#competencesScreen{
/*	background:url("../images/Mont-Blanc-3.jpg");	*/
	background-size: cover;
	background-color: var(--lightgrey-bg);
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 60px; /*responsive square*/
}

.competencesCard{
	/*background: rgba(220,220,220,0.8);*/
	background: rgba(240,240,240,0.8);
	border-radius: 20px;
	margin: 0px auto;
	max-width: 300px;
	padding-bottom: 1px;
}
.competencesCard-header{
	/*background: var(--lightgrey-bg);*/
	background: rgba(250,250,250,0.9);
	border-radius: 20px 20px 0 0;
	text-align: center;
	padding: 10px 0;
}
.competencesCard-header h2{
	font-size: 22px;
	margin-bottom: 0; /*bs*/
}

#competencesScreen .row>div{
	margin-bottom: 20px;
}
.progress-bar{
	transition: 1s;
	width: 0;
	background: var(--darkgrey-bg);
	text-align: left;
	padding: 5px;
}

.progressContainer{
	position: relative;
	margin:10px 6px;
}
.progress{
	background:transparent;
	border: solid var(--darkgrey-bg);
	height: 40px;
	font-size: 20px;
	transition: 1s;
}

.progressLabel{
	line-height: 40px;
	transition: 1s;
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 20px;
}

/*QUALIFICATIONS*/

#qualifContent{
	position: relative;
	max-width: 1240px;
    width: 100%;
    margin: 30px auto 30px auto;
}
.timeLine{
	position: absolute;
	height: 100%;
	width: 10px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: var(--verylightgrey-bg);
	border-radius: 20px;
}
#qualifContent .qualif{
	background: var(--verylightgrey-bg);
    width: 35%;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    min-height: 230px;
}
#qualifContent .qualif h2{
	font-size: 22px;
}
#qualifContent .qualif span{
	border-color: var(--lightgrey-bg);
	margin-bottom: 10px;
	width: 80%;
}
#qualifContent .qualif p{
	margin-bottom: 10px;
}
#qualifContent .qualifText{
	display: flex;
    min-height: 170px;
    justify-content: center;
    flex-direction: column;
}

@media(min-width: 740px){
	#qualifContent .qualif{
		transform: translateX(-50%);
	}
	#qualifContent .qualif:nth-child(even){
		margin-left: 25%;
	}
	#qualifContent .qualif:nth-child(odd){
		margin-left: 75%;
	}
	#qualifContent .qualif::before{
		content: "";
	    position: absolute;
	    height: 31px;
	    width: 31px;
	    border-radius: 50%;
	    background-color: var(--darkgrey-bg);
	    top: 50%;
	    border: solid 2px white;
	}
	#qualifContent .qualif:nth-child(even)::before, .qualifDate:nth-child(even){
	    transform: translate(50%, -50%);
	    right: -21.5%;
	}
	#qualifContent .qualif:nth-child(odd)::before, .qualifDate.odd{
	    transform: translate(-50%, -50%);
	    left: -21.5%;
	}
	#qualifContent .qualifDate{
		position: absolute;
		top: 60%;
		font-size: large;
		font-style: italic;
	}	
}
@media(max-width: 739px){
	.timeLine{
		display: none;
	}
	#qualifContent .qualif{
		width: 80%;
		margin: auto;
		max-width: 400px;
		margin-bottom: 15px;
	}
}


/*PORTFOLIO*/

#portfolioScreen{
	/*background:url("../images/Mont-Blanc-2.jpg");*/	
	background-size: cover;
	background-color: var(--lightgrey-bg);
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 60px; /*responsive square*/
}
#portfolioNav ul li{
	background-color: white;
	font-size: large;
}
#portfolioNav .selected_btn{
	border-color: black !important;
}

.portfolioCard{
	/*background: rgba(220,220,220,0.9);*/
	background: rgba(240,240,240,0.8);
	border-radius: 20px;
	margin: 10px auto;
	width: 250px;
	height: 350px;
	padding-bottom: 1px;

	position: relative;
}
.portfolioCard-header{
	text-align: center;
	padding: 10px 0;
}
.portfolioCard-header h2{
	font-size: 22px;
	margin:0;/*bs*/
}
.portfolioCard-spacer{
	border-bottom: solid 2px var(--darkgrey-bg);
	margin: auto;
	width: 70%;
	display: block;
}
.portfolioCard-footer-list{
	text-align: center;
}
.portfolioCard-footer-list>li{
	display: inline-block;
	border-radius: 20px;
	padding: 2px 3px;
	margin:2px 0;
	font-size: 13px;
}
.htmlCaps{
	border: solid 2px rgb(251,150,150);
}
.phpCaps{
	border: solid 2px rgb(158,171,255);
}
.sqlCaps{
	border: solid 2px rgb(150,251,244);
}
.wpCaps{
	border: solid 2px rgb(251,150,241);
}
.jsCaps{
	border: solid 2px rgb(134,177,141);
}
.stencilCaps{
	border: solid 2px rgb(157 118 154);
}

.portfolioCard-content
{
	width: 100%;
	height: 268px;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}
.portfolioCard:hover .portfolioCard-content
{
	transform: rotateY(180deg);
}
#infomaniakPic{
	width: 170px;
	height: auto;
}

.flip-image>img{
	width: auto;
    height: 90%;
    margin: auto;
}

.flip-image{
	position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}
.flip-content{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	display: flex;
    flex-direction: column;
}
.flip-content>div{
	font-size: 13px;
	margin: auto 3px;
	text-align: center;
}

/*REFERENCES*/

#first_ref_pic{
	background: url('../images/Bouchon.jpg');
	background-size: cover;
	background-position: -50px;
	background-color: var(--lightgrey-bg);
	border: solid 2px var(--darkgrey-bg);
}
#scdn_ref_pic{
	background: url('../images/Colin.jpg');
	background-size: cover;
	background-position: -40px;
	background-color: var(--lightgrey-bg);
	border: solid 2px var(--darkgrey-bg);
}


.ref_side{
	margin: 25px 0;
}
.ref_description{
	background-color: var(--verylightgrey-bg);
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	margin-top: 25px;
	width: fit-content;
}
.mail_ref{
	margin-top: 10px;
}
.ref_description h2{
	border-bottom: solid 2px var(--darkgrey-bg);
}




/*CONTACT*/
#contactScreen{
	background-color: var(--lightgrey-bg);
}
#getintouch{
	font-size: larger;
	margin-bottom: 15px;
}
#contact_form{
	text-align: center;
}
#contact_form label{
	display: block;
}
#contact_form textarea,#contact_form input{
	width: 400px;
}
#contact_sendBtn{
		width: 200px !important;
	}
@media(max-width: 550px)
{
	#contact_form textarea,#contact_form input{
		width: 70%;
	}

}

#contact_form textarea{
	border-radius: 10px;
}
.input_contact{
	border: none;
	border-bottom: solid 2px var(--darkgrey-bg);
	margin-bottom: 20px;
	text-align: center;
	background-color: transparent;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
}

::placeholder { /* Most modern browsers support this now. */
   color: black;
}
#robot_check label{
	display: inline-block;
}
#robot_check input{
	width: 40px;
	margin: 0;
}

#sendBtnContact
{
	position: relative;
    left: 50%;
    margin-left: -100px;
    height: 110px;
    width:fit-content;
}
.mail_alert{
	display: inline-block;
	padding: 5px 10px;
}

.alert-success:before{
	content: '\2713\00a0';
}
#bg_contact_sendBtn{
	background:transparent;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.tenDRotated{
	transform: rotate(-10deg);
}
#contact_sendBtn{
	position: absolute;
	top: 0;
	left: 0;
}



.contact_caps
{
	margin: 30px auto;
	padding: 10px;
	border: solid 2px var(--darkgrey-bg);
	border-radius: 50px;
	background: white;
	width: 300px;
	font-size: larger;
}
@media(max-width: 500px)
{
	.contact_caps
	{
		width: 250px;
		font-size: initial;
	}
}
.contact_caps_a{
	display: contents;
}

.contact_caps_pic{
	width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 5px;
}
.contact_caps_p
{
	display: inline-block;
}



#gdpr_p{
	font-size: smaller;
	color:var(--darkgrey-bg);
	margin:10px 10px 20px 10px;
	text-align: justify;
}
#gdpr_btn{
	display: inline-block;
}
